.ButtonGroup .Button {
  border-radius: 1.3em;
  background: #fff;
  color: var(--accent, --text-color);
}

.ButtonGroup .Button + .Button {
  margin-left: 0.6em;
}

.ButtonGroup .Button--active {
  color: white;
  background: var(--accent, --accent-medium);
}

.ButtonGroup .Button--active:hover,
.ButtonGroup .Button--active:focus,
.ButtonGroup .Button--active:active {
  color: white;
  background: var(--accent, --accent-medium);
}

/* .ButtonGroup:hover {
  background: var(--accent-medium);
} */
