.Network__wrapper {
  position: relative;
  width: 100%;
}
.Network__bubbles {
  width: 100%;
  position: relative;
  /* padding-left: 12em; */
}
.Network__controls {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 3em;
}

.Network__current-year {
  margin: 0 0 0 0.6em;
  font-weight: 700;
  font-feature-settings: "tnum", 1;
  font-size: 1.3em;
}

.Network__button {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  font-size: 0.6em;
  width: 4em;
  height: 4em;
  background: var(--accent-medium);
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Network__toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Network__toggle h6 {
  margin: 0;
  margin-right: 2em;
}

.Network__timeline {
  margin-left: 1em;
  margin-right: 3em;
  margin-bottom: 3em;
}

.Network__search {
  position: absolute;
  left: 1em;
  top: 9em;
}

@media (max-height: 700px) {
  .Network__wrapper .Network__controls {
    font-size: 0.9em;
  }
  .Network__wrapper .NetworkTimeline {
    font-size: 0.9em;
  }
  .Network__wrapper .NetworkLegend__types {
    display: none;
  }
}
@media (max-height: 600px) {
  .Network__wrapper .Network__controls {
    font-size: 0.8em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .Network__wrapper .Network__timeline {
    margin-bottom: 0.6em;
  }
  .Network__wrapper .NetworkTimeline {
    font-size: 0.8em;
  }
  .Network__wrapper .NetworkBubbles {
    height: calc(100vh - 3em);
  }
  .Network__wrapper .Network__search {
    top: 6em;
  }
  .Network__wrapper .NetworkLegend {
    top: 9em;
  }
}
@media (max-height: 500px) {
  .Network__wrapper .Network__controls {
    display: none;
  }
  .Network__wrapper .Network__timeline {
    display: none;
  }
  .Network__wrapper .NetworkBubbles {
    height: 100vh;
  }
  .Network__wrapper .Network__search {
    top: 0;
  }
  .Network__wrapper .NetworkLegend {
    top: 3em;
  }
}
@media (max-width: 900px) {
  .Network__wrapper .Network__bubbles {
    padding-left: 0;
  }
  .Network__wrapper .Network__search {
    display: none;
  }
  .Network__wrapper .NetworkLegend {
    display: none;
  }
}
@media (max-width: 800px) {
}
