.NetworkSearch {
  position: relative;
}
.NetworkSearch__input {
  position: relative;
  z-index: 30;
}
.NetworkSearch__input input {
  background: var(--gray-lightest);
  border: 1px solid var(--gray-light);
  border: none;
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  padding-right: 1.9em;
  font-weight: 100;
}
.NetworkSearch__input input:placeholder {
  font-weight: 100;
}
.NetworkSearch__input__close {
  position: absolute;
  right: 0.6em;
  top: 50%;
  color: var(--gray);
  transform: translateY(-50%);
  cursor: pointer;
}
.NetworkSearch__modal {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  /* transform: translate(0, 100%); */
  position: fixed;
  top: 15.5em;
  left: 19.6em;
  width: 19rem;
  max-height: calc(100vh - 10rem);
  font-size: 0.8em;
  color: var(--gray-dark);
  background: var(--gray-lightest);
  padding: 0 1em 1em;
  overflow: auto;
  z-index: 100;
}
.NetworkSearch__modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 20;
  cursor: pointer;
}
.NetworkSearch__modal h6 {
  margin: 1em 0 0.3em;
}
.NetworkSearch__options {
  display: flex;
  flex-wrap: wrap;
}
.NetworkSearch__option {
  appearance: none;
  border: 2px solid #fff;
  outline: none;
  background: #fff;
  /* color: white; */
  padding: 0.6em 1em;
  margin: 0 0.3em 0.3em 0;
  white-space: nowrap;
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.NetworkSearch__option:hover,
.NetworkSearch__option:focus {
  border-color: var(--accent-light);
}
