.NetworkFilters {
}
.NetworkFilters h6 {
  margin: 0 0 0.3em;
  font-size: 0.8em;
  line-height: 1.3em;
  font-weight: 700;
}
.NetworkFilters__filter + .NetworkFilters__filter {
  margin-top: 1.3em;
}
.NetworkFilters__filter__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  line-height: 1.3em;
  padding: 0.4em 0.6em;
  margin-left: -0.6em;
  width: calc(100% + 1.2em);
  cursor: pointer;
  color: var(--override-color);
}
.NetworkFilters__filter__item .Icon {
  flex: 0 0 12px;
  color: #fff;
}
.NetworkFilters__filter__item--is-unselected {
  color: var(--gray);
}
.NetworkFilters__filter__item--is-selected {
  background: var(--override-color, var(--accent-3));
  color: #fff;
}
.NetworkFilters__filter__item:hover {
  background: var(--accent-lightest);
}

.NetworkFilters__filter__item--is-selected:hover {
  background: var(--override-color, var(--accent-3));
}
