.Network__wrapper {
  position: relative;
  width: 100%;
}
.Network__main {
  width: 100%;
  display: flex;
}
.Network__bubbles {
  width: 100%;
  position: relative;
  flex: 1;
  min-width: 30em;
  /* padding-left: 12em; */
}
.Network__about,
.Network__sidebar__close,
.Network__mobile-buttons {
  display: none;
}
.Network__info {
  width: min(90vw, 35em);
  font-size: 0.86em;
  line-height: 1.5em;
  margin: -0.2em 0 2em;
}
.Network__sidebar {
  flex: 0 0 15em;
  max-width: 15em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}
.Network__sidebar h1 {
  margin-top: 0;
  font-size: 2em;
  line-height: 1em;
  width: min(90vw, 20em);
  font-weight: 800;
}
.Network__sidebar__top {
  flex: none;
}
.Network__sidebar__bottom-label {
  margin-top: 0.7em;
  margin-left: 1em;
}
.Network__sidebar__bottom {
  background: #fff;
  overflow: auto;
}
.Network__sidebar h6 {
  margin-bottom: 0.3em;
}

.Network__sidebar__section {
  padding: 1em;
}
.Network__sidebar__section + .Network__sidebar__section {
  padding-top: 0;
  /* border-top: 1px solid #e2e8ee; */
}
.Network__button {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  font-size: 0.6em;
  width: 4em;
  height: 4em;
  background: var(--accent-medium);
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Network__timeline {
  margin-left: 1em;
  margin-right: 3em;
  margin-bottom: 3em;
}

.Network__toggle {
  margin: -0.5em 0 0.5em;
}
.Network__toggle__button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2em 0.3em;
  margin: 0;
  font-size: 0.8em;
  background: none;
  cursor: pointer;
}
.Network__toggle__button--is-selected {
  /* color: var(--accent-medium); */
  background: #fff;
}
.Network__toggle__button--is-unselected {
  color: var(--gray-dark);
}
.Network__toggle__button svg {
  width: 2.3em;
  margin-right: 0.3em;
  fill: currentColor;
}
.Network__toggle__button--is-selected svg {
  fill: var(--accent-3);
}
.Network__search {
  margin-bottom: -1em;
}

@media (max-width: 850px), (max-height: 600px) {
  .Network__sidebar__top {
    z-index: 10;
  }
  .Network__type {
    width: 10em;
  }
  .Network__sidebar__bottom-label {
    display: none;
  }
  .Network__sidebar__bottom {
    position: fixed;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    transform: translate(-100vw);
    z-index: 100;
    transition: transform 0.3s ease-out;
  }
  .Network__about {
    display: block;
    position: fixed;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    padding: 2em 1.6em;
    background: #fff;
    transform: translate(-100vw);
    overflow: auto;
    z-index: 100;
    transition: transform 0.3s ease-out;
  }
  .Network__sidebar {
    position: absolute;
  }
  .Network__sidebar__close {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 100;
  }

  .Network__info {
    display: none;
  }

  .Network__mobile-buttons {
    position: fixed;
    right: 1em;
    bottom: 1em;
    display: flex;
    z-index: 10;
  }
  .Network__mobile-button + .Network__mobile-button {
    margin-left: 0.5em;
  }
  .Network__sidebar--filters-showing .Network__sidebar__bottom {
    transform: none;
  }
  .Network__sidebar--about-showing .Network__about {
    transform: none;
  }
}
@media (max-height: 700px) {
  .Network__wrapper .Network__controls {
    font-size: 0.9em;
  }
  .Network__wrapper .NetworkTimeline {
    font-size: 0.9em;
  }
  .Network__wrapper .NetworkLegend__types {
    display: none;
  }
}
@media (max-width: 650px) and (max-height: 800px) {
  .Network__wrapper .Network__title {
    display: none;
  }
  .Network__sidebar {
    margin-left: 0;
  }
  .Network__bubbles {
    min-width: 90vw;
  }
}
@media (max-height: 600px) {
  .Network__wrapper .Network__title {
    display: none;
  }
  .Network__wrapper .Network__controls {
    font-size: 0.8em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .Network__wrapper .Network__timeline {
    margin-bottom: 0.6em;
  }
  .Network__wrapper .NetworkTimeline {
    font-size: 0.8em;
  }
  .Network__wrapper .NetworkBubbles {
    height: calc(100vh - 3em);
  }
  .Network__wrapper .Network__search {
    top: 6em;
  }
  .Network__wrapper .NetworkLegend {
    top: 9em;
  }
}
@media (max-height: 500px) {
  .Network__wrapper .Network__controls {
    display: none;
  }
  .Network__wrapper .Network__timeline {
    display: none;
  }
  .Network__wrapper .NetworkBubbles {
    height: 100vh;
  }
  .Network__wrapper .Network__search {
    top: 0;
  }
  .Network__wrapper .NetworkLegend {
    top: 3em;
  }
}
@media (max-width: 900px) {
  .Network__wrapper .Network__bubbles {
    padding-left: 0;
  }
  .Network__wrapper .Network__search {
    display: none;
  }
  .Network__wrapper .NetworkLegend {
    display: none;
  }
}
@media (max-width: 800px) {
  .App--is-embed .Network__title {
    display: none;
  }
}
