.NetworkBubbles {
  position: relative;
  /* display: flex; */
  width: 100%;
  height: 100%;
  /* max-height: 56em; */
  margin: 0 auto;
}
.NetworkBubbles__wrapper {
  position: relative;
}
.NetworkBubbles__drag-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: move;
}
.NetworkBubbles__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.NetworkBubbles__overlay path,
.NetworkBubbles__overlay text {
  transition: all 0.3s;
}
.NetworkBubbles__overlay rect {
  pointer-events: all;
}
.NetworkBubbles__controls {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NetworkBubbles__control-row {
  display: flex;
  align-items: center;
  margin: -0.4em;
}
.NetworkBubbles__control-row .NetworkBubbles__control {
  margin: 0 0.6em;
}
.NetworkBubbles__control {
  font-size: 1em;
  font-weight: 600;
  width: 2em;
  height: 2em;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  background: #fff;
  border-radius: 100%;
}

.NetworkBubbles text {
  font-weight: 700;
  font-size: calc(0.4em + 0.2vw + 0.2vh);
  fill: var(--text-color);
  user-select: none;
}
.NetworkBubbles circle {
  /* fill: #30336b; */
  transition: all 0.6s ease-out;
}
.NetworkBubbles__link {
  fill: none;
  stroke: var(--accent-medium);
  stroke: var(--gray);
  stroke-width: 1;
  pointer-events: none;
}
.NetworkBubbles__link--equal {
  stroke: var(--gray);
}
.NetworkBubbles__arrow {
  fill: var(--accent-medium);
  fill: var(--gray);
}
@keyframes pulse {
  0% {
    stroke-dashoffset: 0%;
  }
  100% {
    stroke-dashoffset: 100%;
  }
}
.NetworkBubbles__link__pulse {
  fill: none;
  stroke: var(--accent-medium);
  stroke: #fff;
  stroke-width: 2.7;
  stroke-dasharray: 1 9;
  pointer-events: none;
  animation: pulse 53s linear;
  animation-iteration-count: infinite;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.7;
  mix-blend-mode: color-dodge;
}
.NetworkBubbles .NetworkBubbles__group {
  fill: #000;
}
.NetworkBubbles__cluster {
  fill: #fff;
  stroke: #fff;
  stroke-linejoin: round;
}
.NetworkBubbles .NetworkBubbles__cluster-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8em;
  color: var(--gray-dark);
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: 700;
  text-anchor: middle;
}
.NetworkBubbles__mouse-target {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  cursor: pointer;
}
.NetworkBubbles__type-use {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.NetworkBubbles__group-g {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.NetworkBubbles__group-g--small:hover .NetworkBubbles__type-use {
  opacity: 1;
}
.NetworkBubbles__mission {
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.NetworkBubbles__mission:hover .NetworkBubbles__type-use {
  opacity: 1;
}
.NetworkBubbles--is-hovering .NetworkBubbles__mission {
  opacity: 0.1;
}
.NetworkBubbles--is-hovering .NetworkBubbles__mission--is-hovered--status,
.NetworkBubbles--is-hovering .NetworkBubbles__mission--is-hovered--type,
.NetworkBubbles--is-hovering .NetworkBubbles__mission--is-hovered--search,
.NetworkBubbles__mission--is-hovered--type .NetworkBubbles__type-use {
  opacity: 1;
}
.NetworkBubbles__annotation-text {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.NetworkBubbles__annotation {
  position: absolute;
  top: -6em;
  left: -6em;
  font-size: 0.8em;
  pointer-events: none;
  animation: fadeOut 0.3s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.NetworkBubbles__annotation-line {
  width: 6em;
  height: 6em;
  fill: none;
  stroke: white;
  stroke-width: 1;
}
.NetworkBubbles__annotation-text {
  position: absolute;
  top: -0.3em;
  left: 0;
  width: 10em;
  line-height: 1.3em;
  text-align: right;
  transform: translate(-80%, -100%);
  color: white;
}
.NetworkBubbles i {
  font-style: italic;
}
