.Map {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Map__legend {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  max-width: min(90vw, 27em);
  line-height: 1.3em;
  text-align: right;
  font-style: italic;
}
