.MapWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.MapWrapper__controls {
  flex: 0 0 15em;
  max-width: 15em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.MapWrapper__sidebar {
  padding: 0 1em 1em;
  background: #fff;
  overflow: auto;
}

.MapWrapper__sidebar__bottom-label {
  margin-top: 1.3em;
  margin-left: 1em;
  margin-bottom: 0;
}

.MapWrapper__main {
  flex: 1;
  overflow: hidden;
}
