.MapWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.MapWrapper__controls {
  flex: 0 0 15em;
  max-width: 15em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.MapWrapper__main {
  flex: 1;
  overflow: hidden;
}
